/* GENERAL STYLES */
*, *:after, *:before { box-sizing: border-box; outline: none; }
html, body { width: 100% !important; overflow-x: hidden !important; font-size: 1em; font-weight: normal; }
ul { padding: 0; }
li { list-style: none; }
body { width: 100%; min-height: 100vh; position: relative; padding-bottom: 90px !important; }

/* FONT ICON */
@font-face { font-family: 'font_icon'; src: url('fonts/font_icon.eot?6d177o'); src: url('fonts/font_icon.eot?6d177o#iefix') format('embedded-opentype'), url('fonts/font_icon.ttf?6d177o') format('truetype'), url('fonts/font_icon.woff?6d177o') format('woff'), url('fonts/font_icon.svg?6d177o#icomoon') format('svg'); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"] { font-family: 'font_icon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-undo:before { content: "\e901"; }
.icon-redo:before { content: "\e902"; }
.icon-bubble:before { content: "\e900"; }
.icon-menu:before { content: "\e903"; }
.icon-heart:before { content: "\e904"; }
.icon-upload2:before { content: "\e905"; }
.icon-plus:before { content: "\e918"; }
.icon-minus:before { content: "\e919"; }
.icon-cross:before { content: "\e91a"; }

/* HEADER */
header { background: #242729; padding: 20px 50px; }
header > a { display: inline-block; vertical-align: middle; color: white; text-decoration: none; width: 150px; }
header nav a + div { display: inline-block; vertical-align: middle; position: relative; z-index: 1; }
header figure { display: flex; width: 40px; height: 40px; overflow: hidden; margin: 0; justify-content: center; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; background: #00CCFF; }
header img { height: 100%; flex: none; cursor: pointer; }
header h1 { margin: 0; }
header nav { display: inline-block; vertical-align: middle; width: calc(100% - 150px); text-align: right; position: relative; }
header nav > * + *:not(#user_nav) { margin-left: 20px; }
header #user_nav { position: absolute; display: none; right: 0; margin-top: 40px; background: slategrey; padding: 10px 15px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; }
header #user_nav a { display: block; color: white; text-decoration: none; padding: 5px; font-weight: lighter; position: relative; z-index: 1; }
header #user_nav .line { position: absolute; bottom: 0; height: 150px; width: 5px; right: 17px; z-index: 0; background: slategrey; }
header nav > a { color: white; text-decoration: none; vertical-align: middle; font-weight: lighter; font-size: 18px; padding: 3px 0; }
header nav > a.active { border-bottom: 1px solid white; }
header nav .unlog { color: white; background: lightcoral; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; text-decoration: none; text-transform: uppercase; padding: 5px 25px; transition: background 0.5s ease-in-out; }
header nav .unlog:hover { background: coral; transition: background 0.5s ease-in-out; }

/* FOOTER */
footer { background: #242729; padding: 20px 50px; text-align: center; color: white; position: absolute; bottom: 0; left: 0; width: 100%; font-weight: lighter; height: 90px; }

/* CONTENT */
#content { padding: 50px; }
#content > h2 { text-align: center; margin-bottom: 50px; color: #424242; }

/* FORMS */
form { width: 400px; margin: 0 auto !important; }
form input[type=text], form input[type=email], form input[type=password] { background: none; border: 1px solid #ccc; height: 35px; line-height: 35px; padding: 0 10px; width: 100%; display: block; transition: all 0.5s ease-in-out; }
form input[type=text]:focus, form input[type=email]:focus, form input[type=password]:focus { border: 1px solid deepskyblue; background: aliceblue; transition: all 0.5s ease-in-out; }
form input[type=text]::-webkit-input-placeholder, form input[type=email]::-webkit-input-placeholder, form input[type=password]::-webkit-input-placeholder { color: #bcbcbc; transition: all 0.5s ease-in-out; }
form input[type=text]:focus::-webkit-input-placeholder, form input[type=email]:focus::-webkit-input-placeholder, form input[type=password]:focus::-webkit-input-placeholder { color: deepskyblue; transition: all 0.5s ease-in-out; }
form input[type=submit] { background: cornflowerblue; border: none; color: #fff; width: 220px; margin: 50px auto 0 auto; display: block; text-transform: uppercase; height: 30px; line-height: 30px; cursor: pointer; transition: background 0.5s ease-in-out; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; }
form input[type=submit]:hover { background: deepskyblue; transition: background 0.5s ease-in-out; }
form input[disabled=disabled] { color: lightgrey; font-weight: lighter; margin-bottom: 10px; }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; }
.hide { opacity: 0; transition: opacity 0.5s ease-in-out; }
.wrapper_input { width: 100%; margin: 15px auto 0 auto; display: block; }
#content .wrapper_input input { width: 373px; display: inline-block; }
.wrapper_input p { position: relative; display: inline-block; font-size: 30px; margin: 0 0 0 10px; vertical-align: top; cursor: pointer; line-height: 1.5; width: 15px; }
.wrapper_input p span { position: absolute; font-size: 14px; padding: 10px 20px; background: rgba(0, 0, 0, .7); color: #fff; width: 230px; line-height: 1; top: 1px; left: 15px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; z-index: 2; font-weight: lighter; }
.wrapper_input p:hover span { opacity: 1; transition: opacity 0.5s ease-in-out; }
.wrapper_input p span:hover { opacity: 0; transition: opacity 0.5s ease-in-out; cursor: default; }
#errors, #success { padding: 15px; border: 1px solid; text-align: center; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; display: block; margin-bottom: 30px; transition: display 0.5s ease-in-out; }
#errors:empty, #success:empty { display: none; transition: display 0.5s ease-in-out; }
#errors { background: lightcoral; border-color: crimson; color: crimson; }
#success { background: lightgreen; border-color: forestgreen; color: forestgreen; }
#errors p, #success p { margin: 0; }

/* ERROR 404 */
#content.error h3 { text-align: center; font-weight: lighter; }
#content.error img { width: 250px; margin: 100px auto 0 auto; display: block; }

/* REGISTER / LOGIN / ACTIVATE / FORGOT */
.login form input[type=text], .login form input[type=password], .forgot form input[type=text] { width: 100% !important;  }
.login form + a { text-align: center; display: block; margin: 70px 0 20px 0; color: lightcoral; transition: color 0.5s ease-in-out; cursor: pointer; }
.register form + p, .login form + a + p, .activate p { text-align: center; color: #424242; margin-top: 70px; }
.login form + a + p { margin: 0; }
.register form + p a, .login form + a + p a, .activate p a { color: lightcoral; transition: color 0.5s ease-in-out; }
.register form + p a:hover, .login form + a:hover, .login form + a + p a:hover, .activate p a:hover { color: coral; transition: color 0.5s ease-in-out; }
.activate p + p { margin-top: 20px; }

/* PROFILE */
.profile h2 span { color: cornflowerblue; }
.profile form { width: 500px; }
.profile form img, .profile > img { max-width: 100%; max-height: 250px; display: block; margin: 20px auto; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; }
.profile label { display: block; text-align: center; margin: 20px 0 10px 0; }
.profile form input[type=submit] { width: 300px; }
button.delete { display: block; margin: 15px auto 0 auto; width: 300px; border: 0; background: crimson; color: white; height: 30px; line-height: 30px; text-transform: uppercase; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; transition: background 0.5s ease-in-out; cursor: pointer; }
button.delete:hover { background: firebrick; transition: background 0.5s ease-in-out; }
.profile #errors, .profile #success { display: block; }

/* MODAL */
.modal { position: fixed; background: white; z-index: 3; padding: 20px 50px 30px 50px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; display: none; width: 350px; height: 250px; top: 50%; left: 50%; margin-left: -175px; margin-top: -125px; border-top: 40px solid rebeccapurple; }
.modal .icon-cross { color: white; position: absolute; right: 20px; top: -27px; cursor: pointer; }
.modal h2, .modal p { text-align: center; color: #424242; }
.modal div { width: 130px; margin: 0 auto; }
.modal button { display: inline-block; margin: 15px auto 0 auto; border: 0; color: white; height: 30px; line-height: 30px; text-transform: uppercase; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; transition: background 0.5s ease-in-out; cursor: pointer; width: 60px; background: crimson; }
.modal button + button { margin-left: 10px; background: cornflowerblue; }
.modal button:hover { background: firebrick; transition: background 0.5s ease-in-out; }
.modal button + button:hover { background: deepskyblue; transition: background 0.5s ease-in-out; }
#bg_modal { position: absolute; width: 100%; height: 100%; z-index: 2; top: 0; left: 0; background: rgba(0, 0, 0, .5); display: none; }

/* WEBCAM */
#webcam { position: relative; }
#moves { position: absolute; display: none; }
#moves span { display: block; color: white; background: darkcyan; padding: 5px; margin-bottom: 5px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; transition: background 0.5s ease-in-out; cursor: pointer; top: 0; }
#moves span:hover { background: turquoise; transition: background 0.5s ease-in-out; }
#container { margin: 0 auto; display: block; position: relative; overflow: hidden; max-width: 640px; }
#container img { width: 150px; position: absolute; top: 0; left: 0; cursor: pointer;  transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transition: border 0.5s ease-in-out; border: 2px dashed transparent; }
#container img:hover, #container img.selected { border-color: deepskyblue; transition: border 0.5s ease-in-out; }
video { width: 100%; }
#webcam button { display: none; margin: 20px auto; border: none; background: cornflowerblue; padding: 5px 30px; color: white; text-transform: uppercase; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; transition: background 0.5s ease-in-out; cursor: pointer; }
#webcam button:hover { background: deepskyblue; transition: background 0.5s ease-in-out; }
canvas { display: none; }

/* NO WEBCAM */
canvas + h2 { padding-top: 20px !important; margin: 0 auto 30px auto; }
.no-webcam #container-2 { display: none; margin: 50px auto 10px auto; width: 640px; position: relative; overflow: hidden; max-width: 640px; }
.no-webcam #picture { width: 100%; margin: 0 auto; display: block; }
.no-webcam #container-2 img + img { position: absolute; cursor: pointer; width: 150px; top: 0; left: 0; cursor: pointer;  transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transition: border 0.5s ease-in-out; border: 2px dashed transparent; }
.no-webcam #container-2 img + img:hover, .no-webcam #container-2 img + img.selected { border-color: deepskyblue; transition: border 0.5s ease-in-out; }
#moves-2 { position: absolute; display: none; top: 292px; }
#moves-2 span { display: block; color: white; background: darkcyan; padding: 5px; margin-bottom: 5px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; transition: background 0.5s ease-in-out; cursor: pointer; top: 0; }
#moves-2 span:hover { background: turquoise; transition: background 0.5s ease-in-out; }

/* INPUT FILE */
input[type=file] { display: none; }
input[type=file] + label { width: 300px; margin: 70px auto 0 auto; display: block; border: 2px solid cornflowerblue; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; text-align: center; padding: 10px 20px; cursor: pointer; color: cornflowerblue; transition: all 0.5s ease-in-out; }
input[type=file] + label:hover { background: cornflowerblue; color: white;  transition: all 0.5s ease-in-out; }
input[type=file] + label span:first-child { padding-right: 10px; font-size: 22px; }
input[type=file] + label span { vertical-align: middle; }

/* SIDEBAR */
.index { min-height: calc(100vh - 170px); width: 100%; display: table; }
.index > article { display: table-cell; vertical-align: top; }
.index article:first-child { width: calc(100% - 400px); }
.index .sidebar { width: 400px; min-width: 400px; height: calc(100vh - 270px); background: paleturquoise; padding: 20px; }
.index .sidebar > div { height: 100%; }
.index p.category { text-align: center; font-size: 24px; color: white; background: cornflowerblue; padding: 5px; margin: 20px 10px; }
.index .sidebar figure { width: 150px; height: 150px; margin: 0; display: inline-block; vertical-align: middle; cursor: pointer; position: relative; }
.index .sidebar img { max-width: 60px; max-height: 100px; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0; }
.index .sidebar figure + p { width: calc(100% - 150px); display: inline-block; vertical-align: middle; color: #424242; }
.index .sidebar figure + p span { padding: 5px 10px; border: 1px solid white; }

/* SCROLLBAR (DOESN'T WORK FOR FIREFOX) */
.scrollbar { overflow: auto; }
.scrollbar::-webkit-scrollbar { background: rgba(255, 255, 255, .3); width: 5px; height: 5px; }
.scrollbar::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, .2); border-radius: 2px; -webkit-border-radius: 2px; }

/* INDEX */
.index #errors, .index #success { width: 640px; margin: 0 auto 20px auto; }
.index h1, .index h2 { text-align: center; display: block; }
.index h1 { color: coral; text-transform: uppercase; margin-bottom: 0; }
.index h2 { color: lightcoral !important; font-size: 22px; font-weight: lighter; margin-top: 0; }
.index h2 + article { display: block; width: 1200px; margin: 0 auto; }
.index h2 + article div { display: inline-block; width: calc(33% - 20px); overflow: hidden; padding: 15px; margin: 10px; background: darksalmon; }
.index h2 + article figure { overflow: hidden; margin: 0; }
.index h2 + article img { width: 100%; }
.index h2 + article figcaption { position: relative; color: white; }
.index h2 + article figcaption p { display: inline-block; }
.index h2 + article figcaption p + p { position: absolute; right: 0; top: 0; }
.index h2 + article figcaption span.username { color: crimson; }
.index .like, .index .comment { margin: 0 5px; font-size: 14px; color: rgba(255, 255, 255, .4); }
.index .icon-heart, .index .icon-bubble { font-size: 12px; }
.index .no-response { text-align: center; color: slategrey; }

/* MY PHOTOS BLOCK */
.my-photos { padding: 40px; margin-top: 70px; background: bisque; }
.my-photos h3 { text-align: center; display: block; color: coral; text-transform: uppercase; margin-top: 0; }
.my-photos article { display: block; width: 100%; margin: 0; overflow: auto; white-space: nowrap; text-align: center; }
.my-photos article div div { display: inline-block; width: 220px; overflow: hidden; padding: 15px; margin: 10px; background: darksalmon; vertical-align: top; }
.my-photos article figure { overflow: hidden; margin: 0; }
.my-photos article img { width: 100%; }
.my-photos article figcaption { position: relative; color: white; }
.my-photos article figcaption p { display: inline-block; }
.my-photos article figcaption p:first-child { cursor: pointer; display: table-caption; }
.my-photos article figcaption p + p { position: absolute; right: 0; top: 0; }
.my-photos .like, .profile .comment { margin: 0 5px; font-size: 14px; }
.my-photos .like { color: bisque; cursor: pointer; }
.my-photos .comment { color: rgba(255, 255, 255, .4); }
.my-photos .liked { color: crimson; }
.my-photos .icon-heart, .gallery .icon-bubble { font-size: 12px; }
.my-photos .no-response { text-align: center; color: slategrey; }
.index .my-photos { margin: 70px 50px 0 0; }
.index .my-photos article { white-space: normal; }

/* PAGINATION */
.pagination { display: block !important; background: transparent !important; height: auto !important; width: 100% !important; text-align: center; margin-top: 30px; }
.pagination > * { display: inline-block; }
.pagination a { text-decoration: none; color: white; background: lightblue; padding: 0 8px; font-weight: lighter; }
.pagination a.current { background: deepskyblue; font-weight: normal; }
.pagination p { height: 5px; line-height: 6px; }
.pagination > p { color: slategrey; }

/* GALLERY */
.gallery h1 { text-align: center; display: block; color: coral; text-transform: uppercase; margin-bottom: 50px; }
.gallery article { display: block; width: 1200px; margin: 0 auto; }
.gallery article div { display: inline-block; width: calc(24.7% - 20px); overflow: hidden; padding: 15px; margin: 10px; background: darksalmon; vertical-align: top; }
.gallery article figure { overflow: hidden; margin: 0; }
.gallery article img { width: 100%; }
.gallery article figcaption { position: relative; color: white; }
.gallery article figcaption p { display: inline-block; }
.gallery article figcaption p + p { position: absolute; right: 0; top: 0; }
.gallery article figcaption span.username a { color: crimson; text-decoration: none; }
.gallery .like, .gallery .comment { margin: 0 5px; font-size: 14px; }
.gallery .like { color: bisque; cursor: pointer; }
.gallery .comment { color: rgba(255, 255, 255, .4); }
.gallery .liked { color: crimson; }
.gallery .icon-heart, .gallery .icon-bubble { font-size: 12px; }
.gallery .no-response { text-align: center; color: slategrey; }

/* IMAGE */
.image { min-height: calc(100vh - 170px); width: 100%; display: table; }
.image > article { display: table-cell; vertical-align: top; }
.image article:first-child { width: 700px; min-width: 700px; height: calc(100vh - 270px); padding-right: 100px; border-right: 2px solid cornflowerblue; }
.image .picture { margin: 30px 0 0 0; }
.image .picture img { width: 100%; }
.image .picture + figcaption { margin: 0; padding: 5px 20px; background: cornflowerblue; color: white; font-weight: lighter; position: relative; }
.image .picture + figcaption p + p { position: absolute; right: 15px; top: 5px; }
.image .picture + figcaption p > span { margin: 0 5px; }
.image .picture + figcaption .like { cursor: pointer; }
.image .picture + figcaption .liked { color: darkblue; }

/* IMAGE AUTHOR BLOCK */
.image .author figure { display: flex; width: 40px; height: 40px; overflow: hidden; margin: 0; justify-content: center; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; background: #00CCFF; }
.image .author img { height: 100%; flex: none; cursor: pointer; }
.image .author > * { display: inline-block; vertical-align: top; }
.image .author p { margin: 0 10px; color: cornflowerblue; font-size: 20px; }
.image .author span { display: block; color: slategrey; font-size: 12px; font-weight: lighter; padding-top: 2px; }

/* COMMENTS BLOCK */
.image .comments { width: calc(100% - 750px); padding-left: 100px; padding-right: 20px; }
.image .comments h2 { font-weight: normal; color: cornflowerblue; margin-top: 0; }
.image .comments .no-comment { color: #424242; }
.image .comments .no-comment span { display: block; }
.image .comments form { width: 100%; height: 60px; margin-top: 50px !important; }
.image .comments form * { display: inline-block; vertical-align: top; }
.image .comments textarea { border-color: lightgrey; resize: none; width: calc(100% - 220px); height: 100%; padding: 10px; color: slategrey; font-weight: lighter; }
.image .comments input { margin-top: 0; height: 100%; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; }
.image #comments { height: calc(100vh - 430px); }
.image .no-comment + #comments { height: calc(100vh - 480px); }
.image #comments div { background: #c4e9f2; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; margin-bottom: 15px; padding: 15px; }
.image #comments div > a { display: inline-block; vertical-align: top; }
.image #comments figure { display: flex; width: 40px; height: 40px; overflow: hidden; margin: 0; justify-content: center; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; background: #00CCFF; }
.image #comments img { height: 100%; flex: none; cursor: pointer; }
.image #comments div a + p { display: inline-block; vertical-align: top; margin: 0 0 0 10px; }
.image #comments div p a { text-decoration: none; color: cornflowerblue; font-size: 20px; }
.image #comments div p a + span { display: block; font-size: 12px; margin-top: 3px; color: slategrey; font-weight: lighter; }
.image #comments div p + p { background: rgba(255, 255, 255, .4); padding: 15px 20px 15px 50px; margin-bottom: 0; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; color: darkslategrey; word-wrap: break-word; position: relative; }
.image #comments div p + p span { font-family: 'Catamaran', sans-serif; font-size: 60px; position: absolute; top: -10px; left: 15px; color: rgba(0, 0, 0, .4); }

/* RESPONSIVE */
@media screen and (max-width: 1600px) {
	.image > article { width: 48% !important; min-width: 0 !important; }
	.image article:first-child { padding-right: 5%; }
	.image .comments { padding-left: 5%; padding-right: 0; }
	.image .comments textarea { width: calc(100% - 150px); }
	.image .comments input { width: 150px; line-height: 1; white-space: normal; }
	.index.logged { display: table; }
	.index.logged #webcam { display: table-footer-group; }
	.index.logged .sidebar { display: block; margin-bottom: 50px; height: 100%; width: calc(100vw - 110px); min-width: 0; }
	.index.logged .sidebar div { height: 220px; white-space: nowrap; width: 100%; }
	.index.logged .sidebar .category { display: none; }
	.index.logged .sidebar div div { display: inline-block; width: auto; height: auto; }
	.index.logged .sidebar figure + p { width: 150px; display: block; text-align: center; }
	.index .my-photos { margin-right: 0; width: calc(100vw - 110px); }
	.index .my-photos article { white-space: nowrap; }
}
@media screen and (max-width: 1300px) {
	.index h2 + article, .gallery article { width: 100%; }
	.gallery article div { width: calc(33% - 20px); }
}
@media screen and (max-width: 1000px) {
	.index h2 + article div, .gallery article div { width: calc(49% - 20px); }
	.image article { display: block; border: none !important; padding: 0 !important; width: 100% !important; }
	.image article:first-child { height: auto; margin-bottom: 70px; }
	.image .comments .scrollbar { height: auto !important; overflow: hidden; }
}
@media screen and (max-width: 640px) {
	header { padding: 20px; }
	header nav { display: block; text-align: left; margin-top: 30px; width: 100%; }
	header nav .unlog { display: inline-block; margin: 10px 20px 0 0 !important; }
	header nav #user_nav { left: 140px; right: auto; }
	#content { padding: 50px 20px; min-height: 0; }
	.register form, .login form, .login .wrapper_input input, .register input[type=submit], .login input[type=submit], .profile form, .forgot form, .forgot input[type=submit] { width: 100%; }
	.register .wrapper_input input, .forgot .wrapper_input input[type=password] { width: calc(100% - 25px) !important; }
	.index h2 + article div, .gallery article div { width: 100%; margin: 20px 0; }
	.index .my-photos, .index.logged .sidebar, .index article:first-child { margin-right: 0; width: calc(100vw - 50px); }
	.index #errors, .index #success { width: 100%; }
}
@media screen and (max-width: 460px) {
	.index .no-webcam form { width: 100%; }
	.index .no-webcam form label { width: 90%; }
}
@media screen and (max-width: 310px) {
	header nav > a { display: table; }
	header nav > a + a, header nav > * + *:not(#user_nav) { margin-left: 0; }
	header nav #user_nav { left: 0; }
	header #user_nav .line { left: 17px; right: auto; }
}
